<div id="container" class="container" >
    <div id="borda">
        <div id="box">
            <h1>{{title}}</h1>
            
                <input placeholder="NickName" id="txtNick"  type="text" >

                <br/>

                <input placeholder="PassWord" id="txtSenha" type="password" maxlength="10">
                
            <br/>
            <input type="button" name="btnLogar" value="Entrar" id="btnLogar" (click)="logar()"> 
            <br/>
            <div id="registro">
                <a routerLink="registro" id="btnTestar" > Register <img src="assets/avancar.png" alt="seta direita"></a>  
            </div>
        </div>
    </div>
    
</div>