<div id="container" class="container" >
    <div id="borda">
        <div id="box">
            <h1>{{title}}</h1>
            
            <mat-form-field appearance="outline">
                <mat-label>{{title}}</mat-label>
                <input matInput placeholder="NickName" id="senha">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                <mat-hint>Hint</mat-hint>
              </mat-form-field>
            <input type="text" name="txtNick" id="txtNick" placeholder="NickName" mask="AAAAAAAAA" >
            <br/>
            <div id="senha">
                <input type="password" name="txtSenha" id="txtSenha" placeholder="Password" mask="AAAAAAAA">
                <img src="assets/olho.png" alt="olho" id="olho" onclick="mostrar()">
            </div>
            <br/>
            <input type="button" name="btnLogar" value="Entrar" id="btnLogar" onclick="logar()"> 
            <br/>
            <div id="registro">
                <a routerLink="registro" id="btnTestar" > Register </a> <img src="assets/avancar.png" alt="seta direita"> 
            </div>
        </div>
    </div>
    
</div>