@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
#container {
    background: url("../../assets/fundo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    font-family: 'Inter', sans-serif;
}

#box {
    float: left;
    box-shadow: 1px 1px black;
    width: 300px;
    height: 420px;
    background-color: black;
    border-radius: 12PX;
    border: 3px solid white;
    padding: 30px;
    margin-left: 38%;
    margin-top: 7%;
    padding-top: 5%;
    text-align: center;
}

input[type=text] {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: #F7F8FA;
    background-color: black;
    border: 1px solid white;
    border-radius: 6px;
    padding-left: 10px;
}

input[type=button] {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.15px;
    color: #F7F8FA;
    background-color: black;
    border: 1px solid white;
    border-radius: 6px;
}

input::placeholder {
    padding-left: 15px;
}

#txtCardNumber,
#txtCardHolder,
#txtCPF {
    width: 300px;
    height: 30px;
    margin-bottom: 30px;
}

#txtValidate {
    float: left;
    width: 135px;
    height: 30px;
    margin-bottom: 30px;
}

#txtCV {
    float: right;
    width: 135px;
    height: 30px;
    margin-bottom: 30px;
    margin-right: -12px;
}

#btnLogar {
    width: 190px;
    height: 30px;
    background-color: #ED1D24;
    border: none;
}

#olho {
    position: absolute;
    margin-top: -61px;
    margin-left: 120px;
}

h1 {
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    color: #F7F8FA;
    text-align: center;
    margin-top: -30px;
    margin-bottom: 40px;
}

h2 {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #F7F8FA;
    text-align: left;
    margin-top: -10px;
}

#registro {
    text-align: right;
    padding-top: 30px;
}

#registro a {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #F7F8FA;
    text-decoration: none;
}