<div id="container">
    
    <div id="box">
        <h1>{{title}}</h1>

        <h2>{{data}}</h2>
        <input type="text" name="txtCardNumber" id="txtCardNumber" placeholder="Card Number">
        <br/>
        <input type="text" name="txtValidate" id="txtValidate" placeholder="Validate">
        
        <input type="text" name="txtCV" id="txtCV" placeholder="CV">
        <br/>
        <input type="text" name="txtCardHolder" id="txtCardHolder" placeholder="CardHolder Name">
        <br/>
        <input type="text" name="txtCPF" id="txtCPF" placeholder="CPF of the holder">
        <br/>
        <input type="button" name="btnLogar" value="Continue" id="btnLogar" (click)="RegistrarEndereco()"> 
        <br/>
        <div id="registro">
            <a routeLink ="" id="btnTestar" > Login </a> <img src="assets/avancar.png" alt="seta direita"> 
        </div>
    </div>
</div>

