
    <header id="cabecalho">
        <span id="profile">Profile</span>
        <span id="logout">Logout</span>
        <img src="../../assets/logo.png" id="logo">
    </header>
    
        <table id="quadro">
            <tr *ngFor="let quadrinho of quadrinhosMarvel">
                <td>
                    <div id="linha">
                       <img src="{{quadrinho.thumbnail.path}}/portrait_fantastic.{{quadrinho.thumbnail.extension}}"> {{quadrinho.id}} - {{quadrinho.title}} 
                    </div>
                 </td>
            </tr>
         
        </table>

      
    
