#cabecalho{
    /*Posição*/
    width: 100%;
    height: 95px;
    top:0px;
    left: 0px;
    background-size: cover;
    background-color: black;
    background-position: center;
    position: fixed;
}

#profile{
    float: left;
    padding-top: 41px;
    padding-left: 71px;
    color: white;
}
#logout{
    float: left;
    padding-top: 41px;
    padding-left: 162px;
    color: white;
}
#logo{
    float: right;
    width: 100px;
    height: 34.35px;
    padding-top: 31px;
    padding-right: 61px;
}
#linha{
    padding-top: 110px;
    border:solid 1px red;
    width: 200px;
    height: 270px;
    margin-left: 10%;
    text-align: center;
    padding-top: -50px;
}
#quadro{
    display: inline-flexbox;
    max-width: 50px;
}